.experiences {
    flex-direction: initial;
    flex-wrap: wrap;
    gap: 2rem;
}

.experiences__title {
    width: 100%;
}

.experience-card {
    min-width: 300px;
    width: 50%;
    flex: 1 1 0;
    border-radius: 1rem;
    border: .125rem solid var(--color-background-accent);
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.experience-card__header {
    background: var(--color-background-accent);
    padding: 1rem;
}

.experience-card__position {
    margin: 0 0 .5rem 0;
}

.experience-card__company {
    margin: 0;
    color: var(--color-main-muted);
}

.experience-card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;
}

.experience-card__description {
    margin: 0;
}

.experience-card__technologies-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: .5rem;
    row-gap: .5rem;
}

.experience-card__technology {
    flex: 0 1 0;
    display: flex;
    flex-direction: column-reverse;
}

.experience-card__technology-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-main);
}
