.navigation {
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 0 .125rem .25rem var(--shadow-color);
    z-index: 1;
    background: var(--color-header-bg);
}

.navigation__content {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.navigation__menu {
    /*background: var(--color-background);*/
    flex-grow: 1;
}

.navigation__toggler {
    aspect-ratio: 1;
    display: none;
}

.navigation__toggler-icon {
    width: 2rem;
    aspect-ratio: 1;
}

.navigation__list {
    display: flex;
    justify-content: end;
    height: 100%;
    align-items: center;
}

.navigation__item {
    font-size: .85rem;
    padding: .25rem;
    margin: 0 .25rem;
}

.navigation__item--main {
    font-size: 1.25rem;
    text-decoration: none;
    line-height: 2.1rem;
}

.navigation__link,
.navigation__link:visited,
.navigation__link:hover
{
    color: var(--color-header);
    font-weight: bold;
}

@media (max-width: 768px) {
    .navigation {
        padding: 0.5rem;
        justify-content: space-between;
    }

    .navigation__menu {
        background: var(--color-header-bg);
    }

    .navigation__item--main {
        font-size: 1.25rem;
        text-decoration: none;
        line-height: 2.1rem;
    }

    .navigation .dropdown__menu {
        top: 3rem;
    }

    .navigation__toggler {
        display: initial;
    }

    .navigation__list {
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 .125rem .25rem var(--shadow-color);
        align-items: initial;
    }

    .navigation__item--right-attached {
        margin-left: .25rem;
    }
}
