:root {
    --color-background: #212529;
    --color-background-accent: #3d4044;
    --color-main: #fbfef9;
    --color-main-muted: #fbfef9d0;
    --color-accent: #f2bb05;
    --shadow-color: rgba(251, 254, 249, .075);
}
