:root {
    --color-background: #ffffff;
    --color-background-transparent: #ffffffa0;
    --color-background-accent: #e9ecef;
    --color-main: #212529;
    --color-main-muted: #212529d0;
    --color-accent: #f2bb05;
    --color-header-bg: #ffffff;
    --color-header: #212529;
    --shadow-color: rgba(33, 37, 41, .075);
}
