@import "themes/light.css";

@import "variables.css";
@import "fonts.css";
@import "base.css";

@import "blocks/button.css";
@import "blocks/list.css";
@import "blocks/dropdown.css";
@import "blocks/page.css";
@import "blocks/burger-icon.css";

@import "blocks/cv-block.css";
@import "blocks/navigation.css";
@import "blocks/introduction.css";
@import "blocks/services.css";
@import "blocks/skills.css";
@import "blocks/progress-bar.css";
@import "blocks/experience.css";
@import "blocks/testimonials.css";
@import "blocks/footer.css";
