---
    permalink: matrix.html
---

<html>
<head>
    <style>
        :root {
            --color-background: #ffffff;
            --color-background-accent: #e9ecef;
            --color-main: #212529;
            --color-main-muted: #212529d0;
            --color-accent: #f2bb05;
            --color-header-bg: #ffffff;
            --color-header: #212529;
            --shadow-color: rgba(33, 37, 41, .075);
        }


        body {
            margin: 0;
            background-color: var(--color-background);
        }

        .container {
            background-color: var(--color-background);
            margin: 50px 10%;
            padding: 3rem;
            position: relative;
            z-index: 1;
        }

        #canv {
            position: fixed;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <canvas id='canv'></canvas>
    <div class='container'>
        <p>Some div with login in</p>
        <p>Some div with login in</p>
    </div>
<script>
    const canvas = document.getElementById('canv');
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    const ctx = canvas.getContext('2d');
    let cols = Math.floor(window.innerWidth / 20) + 1;
    let ypos = Array(cols).fill(0);

    ctx.fillStyle = '#fff';
    ctx.fillRect(0, 0, canvas.width, canvas.height);

    function matrix () {
        const w = window.innerWidth;
        const h = window.innerHeight;

        if (canvas.width !== w) {
            canvas.width = w;
            cols = Math.floor(window.innerWidth / 20) + 1;
            ypos = Array(cols).fill(0);
        }
        if (canvas.height !== h) {
            canvas.height = h;
        }

        ctx.fillStyle = '#fff1';
        ctx.fillRect(0, 0, w, h);

        ctx.fillStyle = '#f2bb05';
        ctx.font = '15pt monospace';

        ypos.forEach((y, ind) => {
            const text = String.fromCharCode(Math.random() * 128);
            const x = ind * 20;
            ctx.fillText(text, x, y);
            if (y > 100 + Math.random() * 10000) ypos[ind] = 0;
            else ypos[ind] = y + 20;
        });
    }

    setInterval(matrix, 50);
</script>
</body>
</html>
